<%- include('ek/header', {bot, user, path}) %>

<br><br><br>


<div class="container">
	<center>
	<p style=" margin-top: 30px; font-family: 'Quicksand', black; color: #0561ff; font-size: 30px;"><b>Premium Özellikler<b></p>
	</center>
	<div class="row justify-content-center align-items-center">
		<div class="col-md-3">
			<div class="kuckkutu">
				<center>
				<i style="color: #b900ff; font-size: 40px;" class="fa fa-star"></i> <br>
				<p style="font-family: 'Quicksand', black; font-size: 20px; color: #fff;"> <b> Özel </b> </p> <p style="font-family: 'Quicksand', black; font-size: 20px; color: #fff; margin-top: -20px;"> Komutlar </p>
				</center>
			</div>
		</div>

		<div class="col-md-3">
			<div class="kuckkutu">
				<center>
				<i style="color: #b900ff; font-size: 40px;" class="fa fa-star"></i> <br>
				<p style="font-family: 'Quicksand', black; font-size: 20px; color: #fff;"> <b> 7/24 </b> </p> <p style="font-family: 'Quicksand', black; font-size: 20px; color: #fff; margin-top: -20px;"> Radyo </p>
				</center>
			</div>
		</div>

		<div class="col-md-3">
			<div class="kuckkutu">
				<center>
				<i style="color: #b900ff; font-size: 40px;" class="fa fa-star"></i> <br>
				<p style="font-family: 'Quicksand', black; font-size: 20px; color: #fff;"> <b> Sunucuya </b> </p> <p style="font-family: 'Quicksand', black; font-size: 20px; color: #fff; margin-top: -20px;"> Özel Komut Ekleme </p>
				</center>
			</div>
		</div>
    
    		<div class="col-md-3">
			<div class="kuckkutu">
				<center>
				<i style="color: #b900ff; font-size: 40px;" class="fa fa-star"></i> <br>
				<p style="font-family: 'Quicksand', black; font-size: 20px; color: #fff;"> <b> Özel Sesli </b> </p> <p style="font-family: 'Quicksand', black; font-size: 20px; color: #fff; margin-top: -20px;"> Kanal Sistemi </p>
				</center>
			</div>
		</div>
    
    		<div class="col-md-3">
			<div class="kuckkutu">
				<center>
				<i style="color: #b900ff; font-size: 40px;" class="fa fa-star"></i> <br>
				<p style="font-family: 'Quicksand', black; font-size: 20px; color: #fff;"> <b> Özel Metin </b> </p> <p style="font-family: 'Quicksand', black; font-size: 20px; color: #fff; margin-top: -20px;"> Kanal Sistemi </p>
				</center>
			</div>
		</div>
    
    		<div class="col-md-3">
			<div class="kuckkutu">
				<center>
				<i style="color: #b900ff; font-size: 40px;" class="fa fa-star"></i> <br>
				<p style="font-family: 'Quicksand', black; font-size: 20px; color: #fff;"> <b> Sunucuya </b> </p> <p style="font-family: 'Quicksand', black; font-size: 20px; color: #fff; margin-top: -20px;"> Özel Prefix Sistemi </p>
				</center>
			</div>
		</div>

    		<div class="col-md-3">
			<div class="kuckkutu">
				<center>
				<i style="color: #b900ff; font-size: 40px;" class="fa fa-star"></i> <br>
				<p style="font-family: 'Quicksand', black; font-size: 20px; color: #fff;"> <b> Butonlu </b> </p> <p style="font-family: 'Quicksand', black; font-size: 20px; color: #fff; margin-top: -20px;"> Tepki-Rol Komutu </p>
				</center>
			</div>
		</div>
    
		<div class="col-md-3">
			<div class="kuckkutu">
				<center>
				<i style="color: #b900ff; font-size: 40px;" class="fa fa-star"></i> <br>
				<p style="font-family: 'Quicksand', black; font-size: 20px; color: #fff;"> <b> Destek Sunucusunda </b> </p> <p style="font-family: 'Quicksand', black; font-size: 20px; color: #fff; margin-top: -20px;"> Size Özel Rol </p>
				</center>
			</div>
		</div>
	</div>
</div>


<style>

.kuckkutu {
       width: 150px;
       height: 145px;
       padding: 10px;
       background: rgba(87, 87, 255, 0.4);
       border-radius: 15px;
       margin: 10px;
}

</style>

<br><br><br><br><br>

<%- include('ek/footer') %>
